@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto';
}

.confirm-button-class {
  background-color: #62ABB4;
  padding: 10px 20px;
  color : white;
  outline: none;
  font-weight : bold;
  border: 0
}

.title-class{
  font-weight: 500;
  color: black;
}