@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}

.confirm-button-class {
  background-color: #265077;
  padding: 10px 20px;
  color: white;
  outline: none;
  font-weight: bold;
  border: 0;
}

.title-class {
  font-weight: 500;
  color: black;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
